<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> WellCome | Health and wellness app</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2 custom-header">
            <h1>
                <a href="/" class="custom-main">Wellcome</a>
            </h1>
            <nav>
                <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
                <a href="/" class="custom-main">Home</a> |
                <button class="no-button" id="logout" class="custom-main">Logout</button>
                {{else}}
                <a href="/login" class="custom-main">Login</a>
                {{/if}}
            </nav>
        </header>
        <main class="container container-fluid mt-5 p-4">
            <!-- Render the sub layout -->
            {{{ body }}}
        </main>
        <footer>

        </footer>
    </div>
    {{!-- <div class="container"> --}}
        {{!-- <div class="custom-header">
            <div class="navbar">
                <div class="logo">
                    <h1>WELLcome</h1>
                </div>
                <nav>
                    <ul>
                        {{#if logged_in}}
                        <li> <a href="/" class="custom-nav"> Home</a></li>
                        <li><button class="no-button" id="logout">Logout</button></li>
                        {{else}}
                        <a href="/login" class="custom-nav">Login</a>
                        {{/if}}
                    </ul>
                </nav>
            </div>
        </div> --}}
        {{!-- <div>
            {{{ body }}}
        </div> --}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        {{#if logged_in}}
        <script src="/js/logout.js"></script>
        {{/if}}
</body>

</html>