<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title> WellCome | Health and wellness app</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Satisfy&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2 custom-header">
            <h1>
                <a href="/" class="custom-main">Wellcome</a>
            </h1>
            <nav>
                <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
                <a href="/" class="custom-main">Home</a> |
                {{#if homepage}}
                <a href="/dashboard" class="custom-main">Dashboard</a> |
                <a href="/profile" class="custom-main">Profile</a> |
                {{/if}}
                {{#if dashboard}}
                <a href="/profile" class="custom-main">Profile</a> |
                {{/if}}
                {{#if profile}}
                <a href="/dashboard" class="custom-main">Dashboard</a> |
                {{/if}}
                <button class="no-button" id="logout" class="custom-main">Logout</button>
                {{else}}
                <a href="/" class="custom-main">Home</a>
                {{!-- <a href="/login" class="custom-main">Login</a> --}}
                {{/if}}
            </nav>
        </header>
        <main class="container container-fluid mt-5 p-4">
            <!-- Render the sub layout -->
            {{{ body }}}
        </main>
        <footer>

        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> --}}
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    {{#if logged_in}}
    {{!-- <script src="/js/gallery.js"></script> --}}
    <script src="/js/logout.js"></script>

    {{/if}}
</body>

</html>