 <p class="image_label"><span>Emotions</span></p>

<h3>How are you feeling today?</h3>
<div id="quoteEmotion">
</div>

<div id="emotion">
<button onclick="newQuote()"><img src="/images/angry.png" height="150px" width="200px" ></button>
<button onclick="newQuote()"><img src="/images/happy.png" height="150px" width="200px" ></button>
<button onclick="newQuote()"><img src="/images/sad.png" height="150px" width="200px"></button>
<button onclick="newQuote()"><img src="/images/worried.png" height="150px" width="200px"></button>
{{!-- <button onclick="newQuote()"><img src="/images/em--6.png"></button>
<button onclick="newQuote()"><img src="/images/em-7.png"></button>
<button onclick="newQuote()"><img src="/images/em-8.png"></button>

</div> --}}

    {{!-- <h2> Relaxing videos</h2>
    <button type="button" id="Meditation" class="videos-link"><img src="/images/meditation.png" height="300px" width="100%"/></button>
     <button type="button" id="Yoga" class="videos-link"><img src="/images/yoga.png" height="300px" width="100%"/></button>
      <button type="button" id="Music" class="videos-link"><img src="/images/music.png" height="300px" width="100%"/></button> --}}
    {{!-- <button type="button" class="video-links" data-id="Meditation">Meditation</button>
    <button type="button" class="video-links" data-id="Yoga">Yoga</button> --}}

    {{!-- <a href="/api/dashboard/Meditation" class="video-links button" data-id="Meditation"><img
            src="/images/Meditation.jpg" alt="Meditation" width="300" height="230">Meditation</a> --}}
    {{!-- <a href="/api/dashboard/Yoga" class="video-links button" data-id="Yoga">Yoga</a>
    <a href="/api/dashboard/Music" class="video-links button" data-id="Music">Music</a> --}}
    {{!-- <button type="button" class="video-links" data-id="Yoga">Yoga</button> --}}

</div>
<p class=:"relax"><span>Relaxing Videos</span></p>
<div class="row">
    <div class="col-md-4 image_div"  class="col-lg-1" style="padding: 0" >
        <a href="/api/dashboard/Meditation" class="video-links button" data-id="Meditation">
            <img src="/images/meditation.png" alt="Meditation" width="300" height="200">
            <p class="image_label"><span>Meditation</span></p>
        </a>
    </div>

    <div class="col-md-4 image_div"  class="col-lg-1" style="padding: 0">
        <a href="/api/dashboard/Yoga" class="video-links button" data-id="Yoga">
            <img src="/images/yoga.png" alt="Yoga" width="300" height="200">
            <p class="image_label"><span>Yoga</span></p>
        </a>
    </div>

    <div class="col-md-4 image_div">
        <a href="/api/dashboard/Music" class="video-links button" data-id="Music">
            <img src="/images/music.png" alt="Music" width="300" height="200">
            <p class="image_label"><span>Music</span></p>
        </a>
    </div>
</div>

<script src="/js/dashboard.js"></script>  


