<div>
    <button type="button" class="video-links" data-id="Meditation">Meditation</button>
    <button type="button" class="video-links" data-id="Yoga">Yoga</button>
</div>



{{!-- <script src="/js/dashboard.js"></script>   --}}