<h2>Emotions!</h2>
<div id="quoteEmotion">
    

</div>
<div class="emotion">
<button onclick="newQuote()"><img src="/images/em-1.png"></button>
<button onclick="newQuote()"><img src="/images/em-2.png"></button>
<button onclick="newQuote()"><img src="/images/em-4.png"></button>
<button onclick="newQuote()"><img src="/images/em-5.png"></button>
<button onclick="newQuote()"><img src="/images/em--6.png"></button>
<button onclick="newQuote()"><img src="/images/em-7.png"></button>
<button onclick="newQuote()"><img src="/images/em-8.png"></button>

</div>


<div>
    <h2> Relaxing videos</h2>
    <button type="button" id="Meditation" class="videos-link"><img src="/images/meditation.png" height="300px" width="100%"/></button>
     <button type="button" id="Yoga" class="videos-link"><img src="/images/yoga.png" height="300px" width="100%"/></button>
      <button type="button" id="Music" class="videos-link"><img src="/images/music.png" height="300px" width="100%"/></button>

</div>





   <script src="/js/dashboard.js"></script>  


