<div class="Container">
    <div class="subcontainer">
        <div class="slider-wrapper">
            <div>
                <h2> Emotions!</h2>
            </div>
            <br>
            <div class="my-slider">
                <div>
                    <div class="slide">
                        <div class="slide-img img-1">
                            <a href="#">Quote</a>
                        </div>
                        <div class="slide">
                            <div class="slide-img img-2">
                                <a href="#">Quote</a>
                            </div>
                            <div class="slide">
                                <div class="slide-img img-3">
                                    <a href="#">Quote</a>
                                </div>
                                <div class="slide">
                                    <div class="slide-img img-4">
                                        <a href="#">Quote</a>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="slide-img img-5">
                                        <a href="#">Quote</a>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="slide-img img-6">
                                        <a href="#">Quote</a>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="slide-img img-7">
                                        <a href="#">Quote</a>
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="slide-img img-8">
                                        <a href="#">Quote</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
   <script src="/js/dashboard.js"></script>  
