
<div class="row">
    <div class="col-md-4 image_div">
        <a href="/Meditation" class="video-links button" data-id="Meditation">
            <img src="/images/Meditation_2.jpg" alt="Meditation" width="300" height="200">
            <p class="image_label"><span>Meditation</span></p>
        </a>
    </div>

    <div class="col-md-4 image_div">
        <a href="/Yoga" class="video-links button" data-id="Yoga">
            <img src="/images/Meditation_2.jpg" alt="Yoga" width="300" height="200">
            <p class="image_label"><span>Yoga</span></p>
        </a>
    </div>

    <div class="col-md-4 image_div">
        <a href="/Music" class="video-links button" data-id="Music">
            <img src="/images/Meditation_2.jpg" alt="Music" width="300" height="200">
            <p class="image_label"><span>Music</span></p>
        </a>
    </div>
</div>
