<div class="row d-flex justify-content-center">
    <p class="git">How are you feeling today?</p>
</div>
<div class="row">
    <div id="quoteEmotion">
    </div>
    <div id="emotion">
        <button onclick="newQuote()"><img src="/images/angry.png" class="custom-emotions"></button>
        <button onclick="newQuote()"><img src="/images/happy.png" class="custom-emotions"></button>
        <button onclick="newQuote()"><img src="/images/sad.png" class="custom-emotions"></button>
        <button onclick="newQuote()"><img src="/images/worried.png" class="custom-emotions"></button>
        <button onclick="newQuote()"><img src="/images/confused.png" class="custom-emotions"></button>
        <button onclick="newQuote()"><img src="/images/scared.png" class="custom-emotions"></button>
    </div>
</div>
<div class="row">
    <p id="relaxing">The Sounds of Inner Peace </p>
</div>
<div class="row">
    <div class="col-md-4 image_div "
        style="padding: auto;  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">

        <a href="/Meditation" class="video-links button" data-id="Meditation">
            <img src="/images/meditation.png" alt="Meditation" width="400" height="200">
            <p class="image_label"><span>Meditation</span></p>
        </a>
    </div>

    <div class="col-md-4 image_div"
        style="padding: auto; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(78, 15, 15, 0.09) 0px -3px 5px;">
        <a href="/Yoga" class="video-links button" data-id="Yoga">
            <img src="/images/yoga.png" alt="Yoga" width="400" height="200">
            <p class="image_label"><span>Yoga</span></p>
        </a>
    </div>

    <div class="col-md-4 image_div"
        style="padding: auto; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
        <a href="/Music" class="video-links button" data-id="Music">
            <img src="/images/relaxmusic.png" alt="Music" width="400" height="200">
            <p class="image_label"><span>Music</span></p>
        </a>
    </div>
</div>

<script src="/js/dashboard.js"></script>