
<div class="row">
    <div class="col-2">

        <h2> Health is the state of body.<br> Wellness is a state of being</h2>
        <ha>“The four keys to good health: <br> a working digestive system, an alkaline body, low stress, and a
            joyful state of being.</ha>
    </div>
    <div class="col-2">
        <img src="/images/health.png" />
    </div>
</div>