<div class="row custom-hp-row">
    {{!-- <div class="overlay"></div> --}}
    
    <div class="text-center pt-3 pb-3">
        <h4> Health is the state of body.<br> Wellness is a state of being</h4>
        {{!-- <h4>“The four keys to good health: <br> a working digestive system, an alkaline body, low stress, and a
            joyful state of being.</h4> --}}
    </div>
    <div class="text-center pt-3 pb-3">
        <h2>Wellcome to wellness!
            Relax, unwind and breathe.
        </h2>
    </div>
</div>