<div class="container custom-hp-row">
    <div class="overlay"></div>

    <div class="row text-center pt-3 pb-3 custom-home-row">
        <h4 class="custom-intro-1"> Health is the state of body.<br> Wellness is a state of being.</h4>
    </div>
    <div class="row text-center pt-3 pb-3 custom-home-row">
        <h2 class="custom-intro-2">Wellcome to wellness!
            <br>
            Relax, unwind and breathe.
        </h2>
    </div>
     {{#if logged_in}}
     {{else}}
    <div class="row text-center pt-3 pb-3 custom-home-row">
        <button class="custom-homebtn btn btn-primary" type="button"><a href="/login" class="custom-homebtn">Login</a></button>
    </div>
    {{/if}}
</div>