<div class="row">
  <div class="col-md-6 text-left">
    <h3>Journal: </h3>
  </div>
  <div class="col-md-6 text-right">
    <a href="/favorites" class="pr-3">View my favorites</a>
    <a href="/api/profiles">Journal entry history</a>
  </div>
  <form>
    {{!-- <label for="journal entry">Date</label> --}}
    <div id="date" class="pb-3"></div>
    <textarea id="jo-entry" name="jo-entry" rows="4" cols="50" autofocus placeholder="Pen your thoughts here...">
    </textarea>
    <button type="submit" id="submitBtn">Submit</button>
  </form>
</div>

<div class="row pt-3">
  {{#each entries as |entry|}}
  <div class="col-md-4">
    <div class="card journal-card">
      <div class="card-body journal-card-body">
        <h5 class="card-title">Date: {{entry.date_created}}</h5>
        <p class="card-text">{{entry.thoughts}}</p>
        <input type="hidden" class="entryId" value={{entry.id}}>
        <button type="button" id={{entry.id}} class="btn btn-primary delete-btn">Delete</button>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<script src="/js/profile.js"></script>