*{
    margin: 0;
    padding: 0;
    
}
body{
    background: radial-gradient(#fff, #ffd6d6);
    font-family: Arial, Helvetica, sans-serif;
    }
/* .navbar .Come{
    
    color: blue;
} */

.custom-main {
 color: white;
}

h1 {
    font-size: 4rem;
    font-family: 'Lavishly Yours', cursive;
}

h4 {
    font-family: 'Satisfy', cursive;
}

nav {
    flex: 1;
    text-align: right;
    color: white;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none ;
    /* color: blueviolet; */
}
p {
    color: bisque;
}

.header {
    background-image: url('/images/homepage2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(235, 230, 230, 0.774);
}

.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 100%;
  }

.custom-nav {
    color: white;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20px;
    justify-content: space-around;
}
.col-2 {
    flex-basis:50%;
    min-width: 300px;
    
}
.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}
/* .header {
    background: radial-gradient(#fff, #ffd6d6);
}
.header .row{
    margin-top: 70px;

} */
.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;

}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: black;
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {
    background: var(--color-primary-dark);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}
.emotion img{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #ffd6d6;
 }
 #quoteEmotion {
     font-size: 36px;
     padding: auto;
     background-color: darkorange;
     text-decoration-color: blueviolet;
     text-align: center;
 }
.custom-header {
    background-color: #05445E;
    /* height: 15%; */
    color: white;
    padding: 30px;
}

.custom-hp-row {
    /* background-image: url('/images/homepage2.jpg'); */
    background: url('/images/homepage2.jpg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
}

.image_div
{
 width:500px;
 margin-left:245px;
 /* position:relative; */
}

/* #image_div img
{
 /* width:100%; 
} */

.image_div,
.image_label
{
 margin:0px;
 /* position:absolute; */
 bottom:43px;
 left: 37px;
}

.image_div ,
.image_label,
span
{
 /* background-color: #0B4C5F; */
 opacity:0.8;
 font-size:3.5rem;;
 padding:7px;
 box-sizing:border-box;
 color:#05445E;
 font-weight:bold;
 font-family: 'Satisfy', cursive;
}